/* Global */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a, a:visited, a:link {
	color: #00ADE6;
	text-decoration: none;
}

a:hover {
	color: #006080;
	text-decoration: underline;
}

/* Fork me on Github */

#forkongithub a {
	background: #00ADE6;
	color: #fff;
	text-decoration: none;
	font-family: arial,sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
	transition: 0.5s;
}

#forkongithub a:hover {
	background: #006080;
	color: #fff;
}
	
#forkongithub a::before,
#forkongithub a::after { 
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}

#forkongithub a::after { 
	bottom: 1px;
	top: auto;
}

@media screen and (min-width: 800px) {
	#forkongithub { 
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
		z-index: 9999;
	}
	
	#forkongithub a {
		width: 200px;
		position: absolute;
		top: 40px;
		right: -40px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		box-shadow: 4px 2px 3px rgba(0,0,0,0.8);
	}
}

/* Menu */

#logo {
	margin-bottom: 24px;
}

#logo img {
	max-width: 180px;
	margin-left: -12px;
}

#menu {
	position: fixed;
	width: 200px;
	padding-left: 4px;
}

#menu li {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid black 1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	padding: 6px 19px;
	margin-bottom: 8px;
}

#menu li.active, #menu li.active a {
	background-color: #00ADE6;
	color: white;
}

/* Content */

#content {
	padding: 8px 18px;
	margin-left: 225px;
}

#content h1 {
	font-weight: bold;
	font-size: 36px;
}

#page-title {
	margin-bottom: 24px;
	text-align: center;
}

#content img {
	margin: auto;
}

#content ul {
	list-style-type: square;
	margin-left: 30px;
}

#content ol {
	margin-left: 30px;
}

#content img {
	max-width: 400px;
	margin: 8px 10px 20px;
}

#content code {
	color: #006080;
}

#content span.c {
	font-style: italic;
}

/* Footer */

#footer {
	margin: 18px 0 0;
	padding: 7px 0;
	font-size: 11px;
	text-align: center;
}
